# Dependencies
node_modules

# Build output
build
dist

# SvelteKit
.svelte-kit

# Environment
.env
.env.*
!.env.example

# IDE / Editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea

# OS
.DS_Store
Thumbs.db

# Debug
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
*.local
